<div class="container">

    <div class="row justify-content-sm-center">

      <% containers.forEach(function(row){ %>

          <div class="col-sm-6 col-md-4">

              <div class="card mb-5">
                <img src="<%= row.photo%>" alt="" class="card-img-top">
                    <div class="card-body" data-row="<%= JSON.stringify(row); %>">
                        <h4 class="card-title"><%= row.title%></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text"><%= row.description%></p>
                        <p class="card-text" name="content" style="display: none;"><%= row.content%></p>
                        <button type="button" class="btn btn-outline-info">Leia mais</button>

                    </div>
                
          </div>

      </div>

      <% }); %>
      
      
        <div class="modal fade"> 
            <div class="modal-dialog">
                <div class="modal-content" style="border-top: 3px solid #00c0ef;">

                    <!-- <video class="card-video" width="320" height="300" controls></video> -->
                    
                    <p class="card-content" name="content"></p>
   
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
      

    </div>
    

   
</div>


<script>

    let modal = document.querySelector('.modal');
    let modalContent = document.querySelector('.modal-content');
    let cardVideo = document.createElement('video');
        

    [...document.querySelectorAll('.btn')].forEach((card,index) => {

        card.addEventListener('click', e => {

            let content = e.path.find(el => { // el - elemento por elemento

                return (el.tagName === 'DIV');

            });

            let data = JSON.parse(content.dataset.row); // dataset so guarda string

            console.log(data);

            if (data.video === null) {

                console.log(data.video);
                cardVideo.remove();

            } else {
                
                modalContent.appendChild(cardVideo);
                cardVideo.classList.add('card-video');
                cardVideo.setAttribute('src',data.video);
                cardVideo.setAttribute('controls','controls');

            }

            for (let name in data) {

                switch (name) {

                    case 'video':
                    
                    break;
                    default:
                        let par = modal.querySelector(`[name=${name}]`); // localize o elemento que tem o name tal
                        if (par) par.innerHTML = data[name];

                        console.log(name);

                }
               

            }

            $('.modal').modal('show');

        });        
        
    });

    //data-toggle="modal" data-target=".modal"

</script>