<!doctype html>
<html lang="pt-br">
  
  <%- include('inc/head') -%>

  <body>

    <%- include('inc/header-menu') -%>
    
    <!-- carousel -->

    <%- include('inc/content/carousel') -%>

    <!-- conteudo de cards -->

    <%- include('inc/content/cards') -%>

    <!-- conteudo de depoimento e opinioes -->

    <%- include('inc/content/text') -%>
        
    <!-- conteudo de botron, navegação nav utilizando a classe pills e embed para videos do youtube -->

    <%- include('inc/content/nav-container') -%>

    <%- include('inc/footer') -%>

    <%- include('inc/footer-scripts') -%>
  
  </body>
</html>
    
